<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Quotes</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles.css"/> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTNf70tSvOx2R5ACRAydullm-uidVLpLVQbRY8Xq9kjs9TiMoEn-_zZCiWQETMPAHUpVk&usqp=CAU">
</head> 
<body>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <header class="text-center pb-5">
                        <h1 class="h2">Random Quote</h1>
                        <!-- <p>Build a nicely styled quote in Bootstrap 4.<br>Bootstrap snippet by <a href="https://bootstrapious.com/snippets" class="font-italic text-info">Bootstrapious</a></p> -->
                    </header>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-lg-6 mx-auto">
    
                    <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                        <!-- <div class="text-center blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div> -->
                        <p class="mb-0 mt-2">Quote ID: {{ quoteId }}</p>
                        <p class="mb-0 mt-2 font-italic">"{{ quote }}"</p>
                        <footer class="blockquote-footer pt-4 mt-4 border-top">{{ author }}</footer>
                    </blockquote><!-- END -->
    
                </div>
            </div>
            <div class="text-center">
                <form method="post">
                    <button type="submit" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="light" >New Random Quote</button>
                </form>
                <!-- <a href="/quote/random">  -->
                <!-- </a> -->
            </div>
        </div>
    </section>
</body>
</html>